.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
BacterAI
R-*
rpy2*
experiments/
Bag\ v\ Boost\ figs\ and\ data/
bag_models/
bag_tests/
boost_tests/
__pycache__/
plots/
img/
benchmark_results/
models/
data/
img/
benchmark_results/
models/
__pycache__/
tensorboard_logs/
gurobi.log
.vscode/
*.out
Pipfile.lock
SPSAvFDSA_expt/
plots/
COBRANet/models
Pipfile.lock
