[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
tqdm = "*"
sklearn = "*"
scipy = "*"
cobra = {path = "./../cobrapy"}
tensorflow = "*"

[requires]
python_version = "3.7.6"

[pipenv]
allow_prereleases = true
